header nav > .container {
  background-color: $blue;
  color: $white;
}

.navbar {
  padding: 0;

  > .container {
    padding: 10px 15px;

    .navbar-brand a {
      color: $white;

      &:hover,
      &:focus {
        color: $white;
      }
    }

    #block-buriton5-account-menu a {
      color: $white;

      &:hover,
      &:focus {
        color: $white;
        text-decoration: underline;
      }
    }
  }
}